* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #000;
}

h1.main {
    color: #fff;
}

li.right-menu {
    display: inline;
    margin-left: 10px;
}

li.right-menu img {
    height: 30px;
}


.profile_pic {
    float: right;
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.animationdiv {
    background-image: linear-gradient(to right, red, grey);
    height: 100vh;
    width: 100%;
    margin: auto;
}

.animationdiv h2 {
    text-align: center;
    font-size: 50px;
    color: #fff;
    padding-top: 30%;
    text-shadow: 2px 2px #000000;
    transition-duration: 1s;
}

.animation-box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.animation-box li {
    position: absolute;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 20s linear infinite;
    bottom: -100px;
}

.animation-box li:nth-child(1) {
    left: 86%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}

.animation-box li:nth-child(2) {
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}

.animation-box li:nth-child(3) {
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
    animation-duration: 5s;
}

.animation-box li:nth-child(4) {
    left: 50%;
    width: 120px;
    height: 120px;
    animation-delay: 0s;
    animation-duration: 15s;
}

.animation-box li:nth-child(5) {
    left: 30%;
    width: 70px;
    height: 70px;
    animation-delay: 2s;
    animation-duration: 10s;
}

.animation-box li:nth-child(6) {
    left: 90%;
    width: 30px;
    height: 30px;
    animation-delay: 2s;
    animation-duration: 6s;
}

.animation-box li:nth-child(7) {
    left: 450%;
    width: 70px;
    height: 70px;
    animation-delay: 5s;
    animation-duration: 8s;
}

.animation-box li:nth-child(8) {
    left: 5%;
    width: 10px;
    height: 10px;
    animation-delay: 2s;
    animation-duration: 5s;
}

.animation-box li:nth-child(9) {
    left: 64%;
    width: 20px;
    height: 20px;
    animation-delay: 3s;
    animation-duration: 4s;
}

.animation-box li:nth-child(10) {
    left: 39%;
    width: 26px;
    height: 26px;
    animation-delay: 1s;
    animation-duration: 6s;
}

.div-heading {
    color: #fff;
    text-shadow: 2px 2px #000;
    margin: 20px 0px;
    padding: 10px;
    background-image: linear-gradient(to right, red, grey);
}

.intro-div {
    padding: 20px 0px;
    margin: auto;
    margin-top: 20px;
    background: #ecebeb;
}

.intro-div ul,
.work-div ul {
    float: left;
}

.intro-div ul li,
.work-div ul li,
.skill-div ul li {
    display: inline;
}

.intro-div ul li img,
.work-div ul li img {
    width: 200px;
    height: 120px;
    border: 2px solid #000;
    margin: 20px;
}

.about-div {
    background: #ecebeb;
    text-align: justify;
}

.about-div p {
    padding: 20px;
}

.education-div {
    background-image: linear-gradient(#ecebeb, grey);
    padding-bottom: 20px;
}

.education-div .card {
    margin: auto;
    margin-top: 10px;
}

.work-div {
    background-image: linear-gradient(grey, #000);
    padding-bottom: 20px;
    text-align: center
}

.work-div .card-img img {
    border: 2px groove #fff;
    width: 100%;
}

.work-div .bg-dark {
    background-image: linear-gradient(black, grey);
    padding-top: 10px;
    text-align: center;
}

.skill-div li img {
    height: 60px;
    margin: 15px;
}

.footer-left ul li {
    list-style: none;
    color: #fff;
}

.footer-left ul li:nth-child(1) {
    text-decoration: underline;
}

@keyframes animate {
    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }

    100% {
        transform: translateY(-800px) rotate(360deg);
        opacity: 0;
    }
}

@media(max-width:576px) {
    .animationdiv h2 {
        font-size: 25px;
        padding-top: 65%;
    }
}

@media(max-width:768px) {
    .work-div .col-md-3 {
        width: 50%;
    }
}